/* Main */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --color-primary-1: #f9eec9;
    --color-secundary-1: #ffd685;
    --color-titles-1: #b4000f;
}

pallete {
    color: #f9eec9;
    color: #d3b786;
    color: #e4b455;
    color: #90a74c;
    color: #af672d;
    color: #b4000f;
    color: #597718;
    color: #770d15;
    color: #58483a;
}

*  {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-1);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--color-secundary-1);
    color: #1d1d1dad;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px #00000024;
    cursor: pointer;
}

.btn-default:hover {
    background-color: #ffcb45;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #fff;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px #00000024;
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px #00000024;
}

.section-title {
    color: #e9a209;
    font-size: 1.5rem;
}

.section-title-subtitle {
    font-size: 2.1rem;
}

/* Header */

header {
    width: 100%;
    padding: 16px 4% 16px 8%;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #f9eec9eb;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 20px;
    color: var(--color-titles-1);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: #0b0b0bad;
    border-bottom: 3px solid var(--color-secundary-1);
}

#buttons_menu {
    display: flex;
}

#login_btn {
    background-color: var(--color-primary-1);
    margin-left: 0.5rem;
}

#login_btn:hover {
    background-color: #ffebaa;
}

#mobile_btn, #mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list, #menu_btn, #login_btn {
        display: none;
    }
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        position: sticky;

    }
}

#mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
}

#mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
}

/* Home */

#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#container {
    width: 35%;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: auto;
    width: inherit;
}

.shape {
    background-color: var(--color-secundary-1);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;

}

@media screen and (max-width: 1170px) {
   #home {
    min-height: 100%;
    padding-top: 0px;
   }

   #banner, #banner img, #home .shape {
    display: none;
   }

   #container {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
   }
}

/* Login */

#login_container {
    display: flex;
    height: 250px;
    
    flex-direction: column;
    align-items: center;
}

#login_forms {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 75%;
    padding: 20px;
    border-radius: 12px;
}

.login-label {
    height: 40px;
    background-color: #0000000d;
    color: #000;
    font-size: 0.9rem;
    padding: 0 20px 0 20px;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
}

#remember_label {
    margin-top: 10px;
    
}

#remember_label a {
    float: right;
}

#submit_login {
    width: 70%;
    position: absolute;
    margin-top: 190px;
}


/* Footer */

footer {
    background-color: var(--color-secundary-1);
}

footer img {
    margin-top: -1px;
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: #1d1d1d;
    font-weight: 500;

}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}